
@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Regular.ttf');
}

body {
    background: #444;
    font: 1em 'Open Sans', Helvetica;
    color: #fff;
}

header {
    height: 70px;
    line-height: 70px;
    .column {
        padding: 0 20px;
    }
    .title {
        text-align: center;
        h1 {
            text-transform: uppercase;
            line-height: inherit;
            font-size: 60px;
            margin: 0;
        }
    }
    .status {
        font-size: 40px;
        text-align: right;
    }
    [data-indicator="connected"] {
        color: #00a600;
    }
    [data-indicator="disconnected"] {
        color: #ac193d;
    }
}

.row {
    .fancy-scroll;
    margin: 0 5px;
}

.column {
    width: 1em;
}

.widgets {
    margin: 5px;
}

.widget {
    background: #222;
    height: 1em;
    color: #bbb;
    text-align: center;
    margin: 5px;
    padding: 15px;
    overflow: auto;
    .box-shadow(0 0 8px #111);
    &[data-color='green'] {
        background-color: #00a600;
    }
    &[data-color='blue'] {
        background-color: #2672ec;
    }
    &[data-color='purple'] {
        background-color: #8c0095;
    }
    &[data-color='orange'] {
        background-color: #d24726;
    }
    &[data-color='red'] {
        background-color: #ac193d;
    }
    &[data-color='teal'] {
        background-color: #008299;
    }
    table {
        width: 100%;
        color: #fff;
        font-size: 24px;
        td, th {
            padding: 10px 5px;
        }
        td {
            vertical-align: top;
            text-align: left;
        }
    }
    .title {
        line-height: 100%;
        font-size: 50px;
        margin-bottom: 25px;
    }
    .people {
        overflow: hidden;
        .person {
            width: 50%;
            color: #fff;
            display: block;
            float: left;
            .avatar {
                display: inline-block;
                position: relative;
                margin-bottom: 10px;
                img {
                    width: 150px;
                    .border-radius(100%);
                }
                .tier {
                    .square(34px);
                    line-height: 34px;
                    font-size: 22px;
                    color: #fff;
                    background: red;
                    position: absolute;
                    top: 0;
                    right: 0;
                    .border-radius(100%);
                }
            }
            .meta {
                display: block;
            }
        }
    }
    .stats {
        font-size: 40px;
    }
    .builds {
        td {
          text-align: center;
        }
        .blue {
            color: #98DD9F;
        }
        .blue_anime {
            color: #85A4D6;
        }
        .red {
            color: #DD514C;
        }
    }
    .servers {
        font-size: 16px;
        padding: 0;
        margin: 0;
        margin-top: 5px;
        display: block;
        overflow: hidden;
        li {
            padding: 0;
            margin: 0;
        }
        li {
            display: inline-block;
            &:after {
                content: ', ';
            }
            &:last-child {
                &:after {
                    content: '';
                }
            }
        }
    }
    .focus-text {
        font-size: 100px;
        color: #fff;
    }
    .last-updated {
        font-size: 30px;
        margin-top: 20px;
    }
    .progress {
        height: 50px;
        line-height: 50px;
        margin: 30px 5%;
        .bar {
            font-size: 65px;
            font-family: Century Gothic, Arial Black;
            color: #222;
            font-weight: bold;
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
        }
    }
    .label {
        font-size: inherit;
        padding: 5px 10px;
    }
}

footer {
    .content {
        width: 100%;
        text-align: center;
    }
    img {
        .square(30px);
        margin: 0 2px;
        margin-top: 5px;
        border: 3px #00a600 solid;
        .border-radius(100%);
        &:nth-child(2n) {
            border-color: #ac193d;
        }
        &:nth-child(3n) {
            border-color: #2672ec;
        }
    }
}
