
html,
body {
    height: 100%;
}

body {
    .vertical;
}

header {
    height: 50px;
    .box;
}

footer {
    height: 50px;
    .box;
}

.widgets {
    .horizontal;
    .flex(1);
}

.column {
    .vertical;
    .flex(1);
}

.widget {
    .box;
    .flex(1);
    .box-sizing(border-box);
}