<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Flexical &middot; Status</title>
        <link rel="stylesheet" href="{{ media_url }}/css/style.css" />
        <script type="text/javascript" src="{{ media_url }}/js/lib/jquery.js"></script>
        <script type="text/javascript" src="{{ media_url }}/js/lib/handlebars.js"></script>
        <script type="text/javascript" src="{{ media_url }}/js/lib/handlebars.js"></script>
        <script type="text/javascript" src="{{ media_url }}/js/lib/handlebars.helpers.js"></script>
        <script type="text/javascript" src="{{ media_url }}/js/lib/underscore.js"></script>
        <script type="text/javascript" src="{{ media_url }}/js/lib/backbone.js"></script>
        <script type="text/javascript" src="{{ media_url }}/js/lib/moment.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="{{ media_url }}/js/views.js"></script>
        <script type="text/javascript" src="{{ media_url }}/js/board.js"></script>
    </head>
    <body>
        {% block page %}{% endblock %}
        {% block page_js %}{% endblock %}
    </body>
</html>