{% extends 'base.html' %}

{% block page %}
    <header id="header">
        <div class="column"></div>
        <div class="column title">
            <h1>
                {% if config.board.title %}
                    {{ config.board.title }}
                {% else %}
                    Flexical
                {% endif %}
            </h1>
        </div>
        <div class="column status">
            <i class="icon-exchange" data-indicator="connected"></i>
            <i class="icon-spinner icon-spin" data-indicator="connecting"></i>
            <i class="icon-warning-sign" data-indicator="disconnected"></i>
        </div>
    </header>
    <article class="widgets">
        <div class="row">
            <div class="column">
                <div class="widget" data-id="production-servers">
                    <div class="content">
                        <h2 class="title" data-field="title">Production Servers</h2>
                        <div class="status focus-text">
                            <span class="value">??</span>
                        </div>
                        <div class="stats">
                            <span class="up">
                                <span class="value">??</span> up
                            </span>
                            <span class="separator">&middot;</span>
                            <span class="down">
                                <span class="value">??</span> down
                            </span>
                        </div>
                        <ul class="servers"></ul>
                    </div>
                    {% raw %}
                        <script type="text/x-handlebars-template" data-template="server">
                            <li class="server" data-item="server" data-id="{{id}}">
                                {{name}}
                            </li>
                        </script>
                    {% endraw %}
                </div><!-- widget end -->
            </div><!-- column end -->
            <div class="column">
                <div class="widget" data-id="internal-servers">
                    <div class="content">
                        <h2 class="title" data-field="title">Internal Servers</h2>
                        <div class="status focus-text">
                            <span class="value">??</span>
                        </div>
                        <div class="stats">
                            <span class="up">
                                <span class="value">??</span> up
                            </span>
                            <span class="separator">&middot;</span>
                            <span class="down">
                                <span class="value">??</span> down
                            </span>
                        </div>
                        <ul class="servers"></ul>
                    </div>
                    {% raw %}
                        <script type="text/x-handlebars-template" data-template="server">
                            <li class="server" data-item="server" data-id="{{id}}">
                                {{name}}
                            </li>
                        </script>
                    {% endraw %}
                </div><!-- widget end -->
            </div><!-- column end -->
            <div class="column">
                <div class="widget" data-id="support">
                    <div class="content">
                        <h2 id="zendesk-count" class="title" data-field="title">Support</h2>
                        <ul class="people" data-list="people">
                            {% for person in config.support %}
                                <li class="person" data-item="person">
                                    <span class="avatar">
                                        <img src="https://www.gravatar.com/avatar/{{ person.gravatar }}?s=200" />
                                        <span class="tier">{{ person.tier }}</span>
                                    </span>
                                    <div class="meta">
                                        {{ person.name }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <p class="last-updated">Oldest ticket updated <span id="zendesk-oldest"></span>.</p>
                    </div>
                </div><!-- widget end -->
            </div><!-- column end -->
        </div><!-- row end -->
        <div class="row">
            <div class="column">
                <div class="widget" data-id="iteration">
                    <div class="content">
                        <h2 class="title" data-field="title">
                            Iteration <span data-field="version"></span>
                        </h2>
                        <div class="progress summary">
                        </div>
                    </div>
                    {% raw %}
                        <script type="text/x-handlebars-template" data-template="sum">
                            {{#if count}}
                            <div class="bar {{barClass}}" style="width: {{percent}}%">
                                {{key}}: {{count}}
                            </div>
                            {{/if}}
                        </script>
                    {% endraw %}
                </div><!-- widget end -->
            </div><!-- column end -->
            <div class="column">
                <div class="widget" data-id="iteration">
                    <div class="content">
                        <h2 class="title" data-field="title">User Stories</h2>
                        <table class="tickets"></table>
                    </div>
                    {% raw %}
                        <script type="text/x-handlebars-template" data-template="ticket">
                            <tr data-item="ticket" data-id="{{ ticket.id }}">
                                <th>
                                    <span class="label
                                        {{#if_eq ticket.status compare='assigned'}}label-important{{/if_eq}}
                                        {{#if_eq ticket.status compare='in_code_review'}}label-warning{{/if_eq}}
                                        {{#if_eq ticket.status compare='closed'}}label-success{{/if_eq}}
                                    ">
                                        {{ ticket.id }}
                                    </span>
                                </th>
                                <td>{{ ticket.summary }}</td>
                            </tr>
                        </script>
                    {% endraw %}
                </div><!-- widget end -->
            </div><!-- column end -->
        </div><!-- row end -->
    </article>
{% endblock %}
