{% extends 'base.html' %}

{% block page %}
    <header>
        <div class="content">
            <h1>FLEXICAL</h1>
        </div>
    </header>
    <div class="widgets">
        <div class="column">
            <div class="widget" data-id="servers" data-color="purple">
                <div class="content">
                    <h2 class="title" data-field="title">Server Status</h2>
                    <ul class="servers" data-list="servers"></ul>
                    <time data-field="updated"></time>
                </div>
                {% raw %}
                    <script type="text/x-handlebars-template" data-template="server">
                        <li class="server" data-item="server" data-id="{{id}}">
                            {{id}} - {{status}}
                        </li>
                    </script>
                {% endraw %}
            </div>
        </div>
    </div>
    <footer>
        <div class="content"></div>
    </footer>
{% endblock %}